
	<div class="recent-post">
		<% rencentPost = page.posts.data[0]; %>	
		<h3><%= rencentPost.title %></h3>
		<% rp = rencentPost.excerpt.replace(/<img\s(\w*(=\"[\w:\/\.]*\")*\s?)*\/?>/, ''); %>
		<div class="excerpt post-con"><%- rp %></div>
		<p class="other">Posted by <a href="/"><%= config.author %></a> at <% rencentPost.categories.forEach(function(category) { %>
				<a href="<%= url_for(category.path) %>"><%= category.name %></a>
			<% }) %> on <%= date(rencentPost.time) %></p>
		<p> » <a href="<%= url_for(rencentPost.path) %>"><%= __('read more') %></a></p>
	</div>

	<div class="search">
		<div class="view">
			<input type="text" placeholder="Google <%= __('Site Search') %>">
			<!-- <a href="<%= url_for('rss2.xml') %>" class="feed" target="_blank">RSS</a> -->
		</div>
	</div>
