<main>

	<section class="recent-posts">
		<ul>
			<% page.posts.slice(0, 10).forEach(function(page){ %>
			<li>
				<header>
					<div>
						<h3><%= page.title %></h3>
						<ul class="clearfix">
							<li>? 条评论</li>
							<li><%= date(page.date) %></li>
						</ul>
					</div>

					<a class="more" href="<%= url_for(page.path) %>"><%= __('read more') %></a>
				</header>
				<section><%- page.excerpt %></section>
			</li>
			<% }) %>
		</ul>
	</section>

</main>